body {
    background-color: #9c1408;
}
h2, h4 {
    text-align: center;
    color: white;
}
.center {
    text-align: center;
    margin: auto;
}
fieldset {
    width: 30%;
    background-color: #090cb3;
    border: 2px solid white;
}
button {
    background-color: white;
    
}